@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles */
.display-flex {
  display: flex;
}

.dark-1,
.nav-link a {
  color: rgb(58, 58, 58);
}

.btn-primary {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 24px;
  border-radius: 41px;
  background: rgb(224, 44, 109);
  border: none;
  color: white;
}

.fa-arrow-right {
  padding: 10px 0px 10px 5px;
}

h3 {
  margin: 0;
  padding: 0;
}
/* navbar styles */

.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.icon img {
  height: 20px;
  width: 20px;
  margin-top: 4px;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.nav-items {
  gap: 34px;
}

.brand {
  font-weight: 700;
  font-size: 1.5rem;
}

/* banner section style */

.banner {
  max-width: 1440px;
  margin: 50px auto 80px auto;
  justify-content: space-between;
  align-items: center;
}
.banner-container {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 582px;
}

.banner-title {
  font-size: 3.25rem;
  font-weight: 700;
}
.banner-description {
  font-size: 1rem;
  font-weight: 600;
  margin: 18px 0;
}

.banner-image {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-image img {
  max-width: 440px;
  margin: 30px 33px 31px 2px;
}

.sponsors {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* collections style */
.collection-container {
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 100px 0 47px 0;
}

.collected-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}
.card {
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 17px 15px;
}

.item-title {
  font-size: 1.75rem;
  font-weight: 500;
  color: rgb(24, 25, 31);
  margin: 16px 0 6px 0;
}
.item-price {
  font-family: "inter", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
.item-rating {
  color: gold;
  font-size: 1.5rem;
  margin: 15px 0;
}

.item-desc {
  max-width: 196px;
  font-size: 14px;
  font-family: "inter", sans-serif;
  font-weight: 700;
  color: rgb(120, 120, 133);
  margin: 0;
}

.see-more{
  max-width: 1050px;
  margin: 0 auto;
  text-align: right;
}

.see-more a {
  text-decoration: none;
  color: rgba(224, 44, 109, 0.87)
}

/* featured products style*/

.featured-product {
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.featured-image img {
max-width: 404px;
margin-right: 96px;
}
.featured-content {
  max-width: 610px;
}
.featured-title {
  font-size: 2.35rem;
  font-weight: 700;
  color: rgb(10, 8, 38);
}
.featured-desc {
  max-width: 501px;
  margin: 16px 0;
  color: rgb(108, 108, 108);
  font-size: 1rem;
  font-weight: 700;
}

.btn-join {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 24px;
  background: rgb(224, 44, 109);
  border: none;
  color: white;
}

/* footer style */
.footer {
  max-width: 100%;
  background-color: #0A0826;
  margin-top: 100px;
}
.footer-content {
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  color: white;
  font-size: 0.87rem;
}
.footer-title {
 font-size: 1.5rem;
 margin: 0;
}
.copyright {
  margin-bottom: 0;
}
.footer-images {
  margin-top: 17px;
}
.footer-images img {
  margin-left: 16px;
}
.im {
  color: white;
}
/* Media query css */

@media screen and (max-width: 576px) {
  .navbar,
  .nav-items {
    flex-direction: column;
  }
  .banner, .featured-product {
    flex-direction: column-reverse;
    align-items: center;
  }
  .banner-container, .featured-content {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .banner-title, .featured-title {
    font-size: 1.75rem;
  }

  .banner-description {
    font-size: 14px;
    font-weight: 500;
    margin: 15px auto 20px auto;
  }

  .banner-image img {
    max-width: 100%;
    max-height: 190px;
    margin: 51px 33px 16px 22px;
  }

  .sponsors {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .collected-items {
    grid-template-columns: repeat(1, 1fr);
  }

  .see-more {
    margin: 2px 35px 50px 0;
  }
  .featured-image img {
    margin: 30px 0;
    max-width: 299px;
  }
  .footer-content {
    max-width: 224px;
    margin: 50px auto;
  }
  .footer-title {
    font-size: 1rem;
  }
  .copyright {
    font-size: 12px;
    font-family: "Manrope", sans-serif;
  }
  .footer img {
    height: 26px;
    width: 26px;
    margin-left: 10px;
  }
}
