@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles */
.display-flex {
  display: flex;
}

.dark-1,
.nav-link a {
  color: rgb(58, 58, 58);
}

.btn-primary {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 24px;
  border-radius: 41px;
  background: rgb(224, 44, 109);
  border: none;
  color: white;
}

.fa-arrow-right {
  padding: 10px 18px 10px 12px;
}

h3 {
  margin: 0;
  padding: 0;
}
/* navbar styles */

.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.icon img {
  height: 20px;
  width: 20px;
  margin-top: 4px;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.nav-items {
  gap: 34px;
}

.brand {
  font-weight: 700;
  font-size: 1.5rem;
}

/* banner section style */

.banner {
  max-width: 1440px;
  margin: 50px auto 69px auto;
  justify-content: space-between;
  align-items: center;
}
.banner-container {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 582px;
}

.banner-title {
  font-size: 3.25rem;
  font-weight: 700;
}
.banner-description {
  font-size: 1rem;
  font-weight: 600;
  margin: 16px 0;
}

.banner-image {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
}

.banner-image img {
  max-width: 440px;
  margin: 30px 33px 31px 2px;
}


/* Media query css */

@media screen and (max-width: 576px) {
  .navbar, .nav-items  {
    flex-direction: column;

  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-container {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .banner-title {
    font-size: 1.75rem;
  }

  .banner-description {
    font-size: 14px;
    font-weight: 500;
    margin: 15px auto 20px auto;
  }

}